* {
  box-sizing: border-box;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

figcaption,
figure,
footer,
header,
main,
nav,
section,
span,
strong,
cite {
  display: block;
}

caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

svg {
  overflow: hidden;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* VARIABLES */
/* MIXINS */
/* KEYFRAMES */
@keyframes wave {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2900px);
  }
}
/* GLOBAL */
html,
body {
  width: 100%;
  font-family: "Instrument Sans", sans-serif;
  background: #F8F6F4;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  color: transparent;
  font-size: 0;
}

a:not(.logo a) {
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px dashed #26383B;
  color: #26383B;
  transition: 150ms ease;
  padding-bottom: 2px;
  line-height: 115%;
  width: -moz-fit-content;
  width: fit-content;
}
a:not(.logo a):hover, a:not(.logo a):focus {
  border-bottom-style: solid;
}
a:not(.logo a).bold-link:hover, a:not(.logo a).bold-link:focus {
  box-shadow: inset 0 -2px 0 0 #26383B;
}

#swim-svg-1,
#swim-svg-2 {
  position: absolute;
  overflow: hidden;
  width: 100%;
}

#swim-svg-2 {
  z-index: -1;
  transform: scaleY(-1);
  bottom: 126px;
}

.wave-container {
  width: 100%;
}
.wave-container.mask {
  position: absolute;
}
.wave-container #wave-mask-1, .wave-container #wave-mask-2 {
  width: 6400px;
  animation: wave 10s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
}
.wave-container #wave-1, .wave-container #wave-2 {
  width: 6400px;
  animation: wave 12s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}
.wave-container #wave-mask-1 {
  background: url("../assets/wave-mask-1.svg") repeat-x;
  height: 150px;
}
.wave-container #wave-mask-2 {
  background: url("../assets/wave-mask-2.svg") repeat-x;
  height: 219px;
}
.wave-container #wave-1 {
  background: url("../assets/wave-1.svg") repeat-x;
  height: 110px;
}
.wave-container #wave-2 {
  background: url("../assets/wave-2.svg") repeat-x;
  height: 183px;
}

/* HEADER */
header {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 64px 0;
}
@media (max-width: 1200px) {
  header {
    margin-left: 32px;
    margin-right: 32px;
  }
}
@media (max-width: 800px) {
  header {
    padding-top: 0;
    padding-bottom: 25px;
  }
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  margin-bottom: 32px;
}
header nav .logo {
  width: 150px;
}
header nav .home-button {
  border-radius: 64px;
  background: #FDE1AD;
  padding: 8px 24px;
  color: #1E1E1E;
  text-align: center;
  font-size: 14px;
  line-height: 115%;
}
@media (max-width: 800px) {
  header nav {
    flex-direction: column-reverse;
  }
  header nav .logo {
    width: 100px;
  }
  header nav .home-button {
    border-radius: 0;
    width: calc(100% + 64px);
  }
}
header .intro {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0 40px;
}
header .intro__text {
  padding: 32px 0;
}
header .intro__text h1 {
  color: #26383B;
  font-family: "Instrument Serif", serif;
  font-size: clamp(34px, 7vw, 72px);
  font-weight: 400;
  line-height: 110%;
  margin-bottom: 24px;
}
header .intro__text .description {
  color: #1E1E1E;
  font-size: clamp(16px, 3vw, 20px);
  line-height: 165%;
  margin-bottom: 72px;
}
header .intro__text .order-heading {
  color: #26383B;
  font-size: clamp(24px, 5vw, 32px);
  line-height: 115%;
  margin-bottom: 16px;
  font-family: "Instrument Serif", serif;
}
header .intro__text .order-links {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 8px 24px;
  max-width: 614px;
}
header .intro__text .order-links .order-unc {
  padding: 16px 32px;
  border-radius: 4px;
  background: #FBCF2F;
  color: #26383B;
  line-height: 115%;
  border-bottom: none;
}
header .intro__text .order-links .order-unc:hover, header .intro__text .order-links .order-unc:focus {
  background: #F8F6F4;
  box-shadow: 0 0 0 1px #26383B;
}
header .intro__text .order-links .order-unc strong {
  font-size: 20px;
  margin-bottom: 16px;
}
header .intro__text .order-links .order-unc span {
  font-size: 14px;
  font-weight: 500;
}
header .intro__text .order-links .order-amazon {
  margin: 12px 0;
  color: #26383B;
  font-size: 20px;
  font-weight: 700;
  line-height: 115%;
}
header .intro__guide figure {
  width: 358px;
  box-shadow: 0px 8px 24px 0px rgba(30, 30, 30, 0.15);
  margin: 0 auto;
}
header .intro__guide figure, header .intro__guide figure img {
  border-radius: 16px;
}
header .intro__guide .guide-button {
  padding: 8px 24px;
  border-radius: 64px;
  background: white;
  color: #26383B;
  font-size: 14px;
  line-height: 115%;
  width: -moz-fit-content;
  width: fit-content;
  margin: 24px auto 0;
}
@media (max-width: 850px) {
  header .intro {
    grid-template-columns: 1fr;
  }
  header .intro__text .description {
    margin-bottom: 48px;
  }
  header .intro__text .order-flex {
    display: flex;
    gap: 16px;
  }
  header .intro__text .order-heading {
    margin-bottom: 0;
    padding-right: 16px;
    padding-bottom: 12px;
    border-right: 1px solid #26383B;
    flex-shrink: 0;
  }
  header .intro__guide {
    grid-row: 1;
  }
  header .intro__guide figure {
    max-width: 192px;
  }
  header .intro__guide .guide-button {
    display: none;
  }
}

/* GUIDE LIST INFORMATION */
.guide-information {
  position: relative;
  overflow: hidden;
  background-image: url("../assets/haltone.svg");
  padding-top: 40px;
  padding-bottom: 96px;
}
.guide-information .mask {
  top: 0;
  transform: scaleY(-1);
}
.guide-information .guide-list {
  position: relative;
  padding-top: 96px;
  padding-bottom: 64px;
  background: #26383B;
}
.guide-information .guide-list::after {
  content: "";
  background: #26383B;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 312px;
}
.guide-information .guide-list h2 {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  color: #FBCF2F;
  font-family: "Instrument Serif", serif;
  font-size: clamp(28px, 4vw, 40px);
  font-weight: 400;
  line-height: 115%;
  margin-bottom: 40px;
}
@media (max-width: 1200px) {
  .guide-information .guide-list h2 {
    margin-left: 32px;
    margin-right: 32px;
  }
}
.guide-information .guide-list ul {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px 24px;
  color: white;
  font-size: 16px;
  line-height: 145%;
}
@media (max-width: 1200px) {
  .guide-information .guide-list ul {
    margin-left: 32px;
    margin-right: 32px;
  }
}
.guide-information .guide-list ul li {
  display: flex;
  gap: 16px;
}
.guide-information .guide-list ul li::before {
  content: "";
  display: block;
  background: url("../assets/fish.svg") no-repeat;
  width: 48px;
  height: 14px;
  margin: 5px 0;
  flex-shrink: 0;
}
@media (max-width: 800px) {
  .guide-information .guide-list {
    padding-top: 48px;
  }
  .guide-information .guide-list::after {
    height: 220px;
  }
  .guide-information .guide-list ul {
    grid-template-columns: 1fr;
    gap: 24px;
  }
}
.guide-information .page-gallery {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
@media (max-width: 1200px) {
  .guide-information .page-gallery {
    margin-left: 32px;
    margin-right: 32px;
  }
}
.guide-information .page-gallery .slick-slide {
  cursor: grab;
  width: 270px;
  margin-right: 24px;
}
@media (max-width: 800px) {
  .guide-information .page-gallery .slick-slide {
    width: 212px;
  }
}
.guide-information .page-gallery .slick-slide img {
  box-shadow: 0px 8px 24px 0px rgba(30, 30, 30, 0.15);
  border-radius: 8px;
}

.testimonials {
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding-bottom: 48px;
  background-image: url("../assets/haltone.svg");
  background-repeat: repeat;
}
.testimonials .mask {
  bottom: 0;
  z-index: -1;
}
.testimonials h2 {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  color: #26383B;
  font-size: clamp(20px, 3vw, 24px);
  font-weight: 700;
  line-height: 115%;
  margin-bottom: 48px;
}
@media (max-width: 1200px) {
  .testimonials h2 {
    margin-left: 32px;
    margin-right: 32px;
  }
}
.testimonials__wrapper {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
@media (max-width: 1200px) {
  .testimonials__wrapper {
    margin-left: 32px;
    margin-right: 32px;
  }
}
@media (max-width: 800px) {
  .testimonials__wrapper {
    grid-template-columns: 1fr;
  }
}
.testimonials blockquote {
  color: #26383B;
  font-family: "Instrument Serif", serif;
  font-size: clamp(24px, 4vw, 32px);
  line-height: 115%;
}
.testimonials blockquote cite {
  position: relative;
  font-size: clamp(16px, 3vw, 24px);
  font-style: normal;
  font-weight: 700;
  padding-left: 32px;
  margin-top: 24px;
  font-family: "Instrument Sans", sans-serif;
}
.testimonials blockquote cite::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 3px;
  background: #FBCF2F;
  margin-top: 16px;
}
.testimonials blockquote cite .institute {
  font-size: clamp(14px, 3vw, 16px);
  font-weight: 400;
  line-height: 115%;
}

.cta {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding: 144px 0;
}
@media (max-width: 1200px) {
  .cta {
    margin-left: 32px;
    margin-right: 32px;
  }
}
.cta .container {
  position: relative;
  display: grid;
  grid-template-columns: 360px 1fr;
  justify-items: center;
  align-items: center;
  gap: 80px;
  padding: 96px 100px 96px 60px;
  background: #FBCF2F;
  border-radius: 32px;
  margin-bottom: 48px;
}
.cta figure {
  position: absolute;
  left: 9%;
  width: 302px;
  transform: rotate(-7.549deg);
}
.cta figure img {
  border-radius: 8px;
  box-shadow: 0px 8px 24px 0px rgba(30, 30, 30, 0.15);
}
.cta .col-2 {
  grid-column: 2;
}
.cta .order-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px 24px;
  max-width: 424px;
}
.cta .order-links .order-unc, .cta .order-links .order-amazon {
  color: #26383B;
  font-size: clamp(16px, 3vw, 20px);
  font-weight: 700;
  line-height: 115%;
}
.cta .order-links span {
  color: #1E1E1E;
  font-size: 14px;
  line-height: 145%;
}
.cta h2 {
  color: #26383B;
  font-family: "Instrument Serif", serif;
  font-size: clamp(28px, 4vw, 40px);
  font-weight: 400;
  line-height: 115%;
  margin-bottom: 48px;
}
.cta p {
  text-align: center;
  color: #26383B;
  line-height: 115%;
}
@media (max-width: 1066px) {
  .cta .order-links {
    grid-template-columns: 1fr;
    gap: 4px;
  }
  .cta .order-links .order-amazon {
    margin-top: 24px;
  }
  .cta .order-links span {
    grid-row: 2;
  }
}
@media (max-width: 922px) {
  .cta {
    padding-top: 280px;
  }
  .cta figure {
    top: -235px;
    left: auto;
    width: 205px;
  }
  .cta .container {
    grid-template-columns: 1fr;
    padding: 144px 32px 48px;
  }
  .cta .col-2 {
    grid-column: 1;
  }
}

footer {
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding-top: 175px;
}
footer .container {
  background: #26383B;
  padding-bottom: 96px;
}
footer .container .grid {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 48px;
  align-items: flex-start;
}
@media (max-width: 1200px) {
  footer .container .grid {
    margin-left: 32px;
    margin-right: 32px;
  }
}
footer .container .logo {
  width: 260px;
}
footer .container p {
  width: 660px;
  color: white;
  font-family: "Instrument Serif", serif;
  font-size: 24px;
  line-height: 115%;
}
footer .container p span {
  margin-top: 16px;
}
footer .container p span, footer .container p a {
  color: inherit;
  font-family: "Instrument Sans", sans-serif;
  font-size: 16px;
  border-bottom-color: white;
}/*# sourceMappingURL=index.css.map */