@import "./reset";
@import "../vendor/slick";

/* VARIABLES */
$creek: #26383B;
$glow: #FBCF2F;
$cape: #FDE1AD;
$dark: #1E1E1E;
$ivory: #F8F6F4;

$font-family: "Instrument Sans", sans-serif;
$heading-font-family: "Instrument Serif", serif;

$transition: 150ms ease;

/* MIXINS */
@mixin inner() {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: (1160px + 40px)) {
        margin-left: 32px;
        margin-right: 32px;
    }
}

/* KEYFRAMES */
@keyframes wave {
    0% { transform: translateX(0); }
    100% { transform: translateX(-2900px); }
}

/* GLOBAL */
html,
body {
    width: 100%;
    font-family: $font-family;
    background: $ivory;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    color: transparent;
    font-size: 0;
}

a:not(.logo a) {
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px dashed $creek;
    color: $creek;
    transition: $transition;
    padding-bottom: 2px;
    line-height: 115%;
    width: fit-content;

    &:hover, &:focus { border-bottom-style: solid; }

    &.bold-link:hover, &.bold-link:focus {
        box-shadow: inset 0 -2px 0 0 $creek;
    }
}

#swim-svg-1,
#swim-svg-2 { 
    position: absolute;
    overflow: hidden;
    width: 100%;
}

#swim-svg-2 {
    z-index: -1;
    transform: scaleY(-1);
    bottom: 126px;
}

.wave-container {
    width: 100%;

    &.mask { position: absolute; }

    #wave-mask-1, #wave-mask-2 {
        width: 6400px;
        animation: wave 10s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    }

    #wave-1, #wave-2 {
        width: 6400px;
        animation: wave 12s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
        transform: translate3d(0, 0, 0);
    }

    #wave-mask-1 {
        background: url("../assets/wave-mask-1.svg") repeat-x; 
        height: 150px;
    }

    #wave-mask-2 {
        background: url("../assets/wave-mask-2.svg") repeat-x; 
        height: 219px;
    }

    #wave-1 {
        background: url("../assets/wave-1.svg") repeat-x; 
        height: 110px;
    }

    #wave-2 {
        background: url("../assets/wave-2.svg") repeat-x; 
        height: 183px;
    }
}

/* HEADER */
header {
    @include inner();
    position: relative;
    padding: 64px 0;

    @media (max-width: 800px) {
        padding-top: 0;
        padding-bottom: 25px;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 32px;
        margin-bottom: 32px;

        .logo { width: 150px; }

        .home-button {
            border-radius: 64px;
            background: $cape;
            padding: 8px 24px;
            color: $dark;
            text-align: center;
            font-size: 14px;
            line-height: 115%;
        }

        @media (max-width: 800px) {
            flex-direction: column-reverse;

            .logo { width: 100px; }
            
            .home-button {
                border-radius: 0;
                width: calc(100% + 64px);
            }
        }
    }

    .intro {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 0 40px;

        &__text {
            padding: 32px 0;

            h1 {
                color: $creek;
                font-family: $heading-font-family;
                font-size: clamp(34px, 7vw, 72px);
                font-weight: 400;
                line-height: 110%;
                margin-bottom: 24px;
            }

            .description {
                color: $dark;
                font-size: clamp(16px, 3vw, 20px);
                line-height: 165%;
                margin-bottom: 72px;
            }

            .order-heading {
                color: $creek;
                font-size: clamp(24px, 5vw, 32px);
                line-height: 115%;
                margin-bottom: 16px;
                font-family: $heading-font-family;
            }

            .order-links {
                display: flex;
                align-items: flex-start;
                flex-wrap: wrap;
                gap: 8px 24px;
                max-width: 614px;

                .order-unc {
                    padding: 16px 32px;
                    border-radius: 4px;
                    background: $glow;
                    color: $creek;
                    line-height: 115%;
                    border-bottom: none;

                    &:hover, &:focus {
                        background: $ivory;
                        box-shadow: 0 0 0 1px $creek;
                    }

                    strong {
                        font-size: 20px;
                        margin-bottom: 16px;
                    }

                    span {
                        font-size: 14px;
                        font-weight: 500;
                    }
                }

                .order-amazon {
                    margin: 12px 0;
                    color: $creek;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 115%;
                }
            }
        }

        &__guide {
            figure {
                width: 358px;
                box-shadow: 0px 8px 24px 0px rgba(30, 30, 30, 0.15);
                margin: 0 auto;

                &, img { border-radius: 16px; }
            }

            .guide-button {
                padding: 8px 24px;
                border-radius: 64px;
                background: white;
                color: $creek;
                font-size: 14px;
                line-height: 115%;
                width: fit-content;
                margin: 24px auto 0;
            }
        }

        @media (max-width: 850px) {
            grid-template-columns: 1fr;

            &__text {
                .description { margin-bottom: 48px; }

                .order-flex {
                    display: flex;
                    gap: 16px;
                }

                .order-heading {
                    margin-bottom: 0;
                    padding-right: 16px;
                    padding-bottom: 12px;
                    border-right: 1px solid $creek;
                    flex-shrink: 0;
                }
            }

            &__guide {
                grid-row: 1;

                figure { max-width: 192px; }

                .guide-button { display: none; }
            }
        }
    }
}

/* GUIDE LIST INFORMATION */
.guide-information {
    position: relative;
    overflow: hidden;
    background-image: url('../assets/haltone.svg');
    padding-top: 40px;
    padding-bottom: 96px; 

    .mask {
        top: 0;
        transform: scaleY(-1); 
    }

    .guide-list {
        position: relative;
        padding-top: 96px;
        padding-bottom: 64px;
        background: $creek;

        &::after {
            content: '';
            background: $creek;
            position: absolute;
            top: 100%; left: 0; right: 0;
            height: 312px;
        }

        h2 {
            @include inner();
            color: $glow;
            font-family: $heading-font-family;
            font-size: clamp(28px, 4vw, 40px);
            font-weight: 400;
            line-height: 115%;
            margin-bottom: 40px;
        }

        ul {
            @include inner();
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 32px 24px;
            color: white;
            font-size: 16px;
            line-height: 145%;

            li {
                display: flex;
                gap: 16px;

                &::before {
                    content: '';
                    display: block;
                    background: url("../assets/fish.svg") no-repeat;
                    width: 48px;
                    height: 14px;
                    margin: 5px 0;
                    flex-shrink: 0
                }
            }
        }

        @media (max-width: 800px) {
            padding-top: 48px;

            &::after { height: 220px; }
            
            ul {
                grid-template-columns: 1fr;
                gap: 24px
            }
        }
    }

    .page-gallery {
        @include inner();
        position: relative;

        .slick-slide {
            cursor: grab;
            width: 270px;
            margin-right: 24px;

            @media (max-width: 800px) { width: 212px; }

            img {
                box-shadow: 0px 8px 24px 0px rgba(30, 30, 30, 0.15);
                border-radius: 8px;
            }
        }
    }
}

.testimonials {
    position: relative;
    overflow: hidden;
    z-index: 1;
    padding-bottom: 48px;
    background-image: url('../assets/haltone.svg');
    background-repeat: repeat;

    .mask { 
        bottom: 0; 
        z-index: -1;
    }

    h2 {
        @include inner();
        color: $creek;
        font-size: clamp(20px, 3vw, 24px);
        font-weight: 700;
        line-height: 115%;
        margin-bottom: 48px;
    }

    &__wrapper {
        @include inner();
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;

        @media (max-width: 800px) { grid-template-columns: 1fr; }
    }

    blockquote {
        color: $creek;
        font-family: $heading-font-family;
        font-size: clamp(24px, 4vw, 32px);
        line-height: 115%;

        cite {
            position: relative;
            font-size: clamp(16px, 3vw, 24px);
            font-style: normal;
            font-weight: 700;
            padding-left: 32px;
            margin-top: 24px;
            font-family: $font-family;

            &::before {
                content: '';
                position: absolute;
                top: 0; left: 0;
                width: 24px;
                height: 3px;
                background: $glow;
                margin-top: 16px;
            }

            .institute {
                font-size: clamp(14px, 3vw, 16px);
                font-weight: 400;
                line-height: 115%;
            }
        }
    }
}

.cta {
    @include inner();
    padding: 144px 0;

    .container {
        position: relative;
        display: grid;
        grid-template-columns: 360px 1fr;
        justify-items: center;
        align-items: center;
        gap: 80px;
        padding: 96px 100px 96px 60px;
        background: $glow;
        border-radius: 32px;
        margin-bottom: 48px;
    }

    figure {
        position: absolute;
        left: 9%;
        width: 302px;
        transform: rotate(-7.549deg);

        img {
            border-radius: 8px;
            box-shadow: 0px 8px 24px 0px rgba(30, 30, 30, 0.15);
        }
    }

    .col-2 { grid-column: 2; }

    .order-links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 12px 24px;
        max-width: 424px;

        .order-unc, .order-amazon {
            color: $creek;
            font-size: clamp(16px, 3vw, 20px);
            font-weight: 700;
            line-height: 115%;
        }

        span {
            color: $dark;
            font-size: 14px;
            line-height: 145%;
        }
    }

    h2 {
        color: $creek;
        font-family: $heading-font-family;
        font-size: clamp(28px, 4vw, 40px);
        font-weight: 400;
        line-height: 115%;
        margin-bottom: 48px;
    }

    p { 
        text-align: center;
        color: $creek;
        line-height: 115%;
    }

    @media (max-width: 1066px) {
        .order-links { 
            grid-template-columns: 1fr;
            gap: 4px;

            .order-amazon { margin-top: 24px; }

            span { grid-row: 2; }
        }
    }

    @media (max-width: 922px) {
        padding-top: 280px;

        figure {
            top: -235px; left: auto;
            width: 205px;
        }

        .container {
            grid-template-columns: 1fr;
            padding: 144px 32px 48px;
        }

        .col-2 { grid-column: 1; }
    }
}

footer {
    position: relative;
    overflow: hidden;
    z-index: 1;
    padding-top: 175px;

    .container {
        background: $creek;
        padding-bottom: 96px;

        .grid {
            @include inner();
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 48px;
            align-items: flex-start;
        }

        .logo { width: 260px; }

        p {
            width: 660px;
            color: white;
            font-family: $heading-font-family;
            font-size: 24px;
            line-height: 115%;

            span { margin-top: 16px; }

            span, a {
                color: inherit;
                font-family: $font-family;
                font-size: 16px;
                border-bottom-color: white;
            }
        }
    }
}