@import "./reset";

/* VARIABLES */
$creek: #26383B;
$glow: #FBCF2F;
$cape: #FDE1AD;
$dark: #1E1E1E;
$ivory: #F8F6F4;

$font-family: "Instrument Sans", sans-serif;
$heading-font-family: "Instrument Serif", serif;

$transition: 150ms ease;

/* MIXINS */
@mixin inner() {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: (1160px + 40px)) {
        margin-left: 20px;
        margin-right: 20px;
    }
}

/* GLOBAL */
html,
body {
    width: 100%;
    font-family: $font-family;
    background: $ivory;
}

body {
    background-image: url('./assets/swim.svg'), url('./assets/footer-swim.svg');
    background-size: contain;
    background-repeat: repeat-x;
    background-position: top, 50% calc(100% - 126px);
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    color: transparent;
    font-size: 0;
}

a:not(.logo a) {
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px dashed $creek;
    color: $creek;
    transition: $transition;
    padding-bottom: 2px;
    line-height: 115%;
    width: fit-content;

    &:hover, &:focus { border-bottom-style: solid; }

    &.bold-link:hover, &.bold-link:focus {
        box-shadow: inset 0 -2px 0 0 $creek;
    }
}

/* HEADER */
header {
    @include inner();
    padding: 64px 0;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        margin-bottom: 32px;

        .logo { width: 150px; }

        .home-button {
            border-radius: 64px;
            background: $cape;
            padding: 8px 24px;
            color: $dark;
            text-align: center;
            font-size: 14px;
            line-height: 115%;
        }
    }

    .intro {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 40px;

        &__text {
            padding: 32px 0;

            h1 {
                color: $creek;
                font-family: $heading-font-family;
                font-size: 72px;
                font-weight: 400;
                line-height: 110%;
                margin-bottom: 24px;
            }

            .description {
                color: $dark;
                font-size: 20px;
                line-height: 165%;
                margin-bottom: 72px;
            }

            .order-heading {
                color: $creek;
                font-size: 32px;
                line-height: 115%;
                margin-bottom: 16px;
                font-family: $heading-font-family;
            }

            .order-links {
                display: flex;
                align-items: flex-start;
                gap: 24px;
                max-width: 614px;

                .order-unc {
                    padding: 16px 32px;
                    border-radius: 4px;
                    background: $glow;
                    color: $creek;
                    line-height: 115%;
                    min-width: 336px;
                    border-bottom: none;

                    &:hover, &:focus {
                        background: $ivory;
                        box-shadow: 0 0 0 1px $creek;
                    }

                    strong {
                        font-size: 20px;
                        margin-bottom: 16px;
                    }

                    span {
                        font-size: 14px;
                        font-weight: 500;
                    }
                }

                .order-amazon {
                    margin: 12px 0;
                    color: $creek;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 115%;
                }
            }
        }

        &__guide {
            figure {
                width: 358px;
                height: 537px;
                box-shadow: 0px 8px 24px 0px rgba(30, 30, 30, 0.15);
                margin-bottom: 24px;

                &, img { border-radius: 16px; }
            }

            .guide-button {
                padding: 8px 24px;
                border-radius: 64px;
                background: white;
                color: $creek;
                font-size: 14px;
                line-height: 115%;
                width: fit-content;
                margin: auto;
            }
        }
    }
}

/* GUIDE LIST INFORMATION */
.guide-information {
    overflow: hidden;
    background-image: url('./assets/haltone.svg');
    background-size: contain;
    margin-top: 40px;
    padding-bottom: 96px;

    .wave {
        background-image: url('./assets/wave.svg');
        width: 100%;
        height: 110px;
    }

    .guide-list {
        position: relative;
        padding-top: 96px;
        padding-bottom: 64px;
        background: $creek;

        &::after {
            content: '';
            background: $creek;
            position: absolute;
            top: 100%; left: 0; right: 0;
            height: 312px;
        }

        h2 {
            @include inner();
            color: $glow;
            font-family: $heading-font-family;
            font-size: 40px;
            font-weight: 400;
            line-height: 115%;
            margin-bottom: 40px;
        }

        ul {
            @include inner();
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 32px 24px;
            color: white;
            font-size: 16px;
            line-height: 145%;

            li {
                display: flex;
                gap: 16px;

                &::before {
                    content: '';
                    display: block;
                    background: url("./assets/fish.svg") no-repeat;
                    width: 48px;
                    height: 14px;
                    margin: 5px 0;
                    flex-shrink: 0
                }
            }
        }
    }

    .page-gallery {
        @include inner();
        position: relative;
        display: flex;
        gap: 24px;

        img {
            box-shadow: 0px 8px 24px 0px rgba(30, 30, 30, 0.15);
            border-radius: 8px;
            width: 270px;
        }
    }
}

.testimonials {
    padding-bottom: 48px;
    background-image: url('./assets/wave-mask.svg'), url('./assets/haltone.svg');
    background-repeat: no-repeat, repeat;
    background-position: bottom, top;
    background-size: contain;

    h2 {
        @include inner();
        color: $creek;
        font-size: 24px;
        font-weight: 700;
        line-height: 115%;
        margin-bottom: 48px;
    }

    &__wrapper {
        @include inner();
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }

    blockquote {
        color: $creek;
        font-family: $heading-font-family;
        font-size: 32px;
        line-height: 115%;

        cite {
            position: relative;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            padding-left: 32px;
            margin-top: 24px;
            font-family: $font-family;

            &::before {
                content: '';
                position: absolute;
                top: 0; left: 0;
                width: 24px;
                height: 3px;
                background: $glow;
                margin-top: 16px;
            }

            .institute {
                font-size: 16px;
                font-weight: 400;
                line-height: 115%;
            }
        }
    }
}

.cta {
    @include inner();
    padding: 144px 0;

    .container {
        position: relative;
        display: grid;
        grid-template-columns: 360px 1fr;
        gap: 80px;
        padding: 96px 100px 96px 60px;
        background: $glow;
        border-radius: 32px;
        margin-bottom: 48px;
    }

    figure {
        position: absolute;
        top: -5%; left: 9%;
        width: 302px;
        transform: rotate(-7.549deg);

        img {
            border-radius: 8px;
            box-shadow: 0px 8px 24px 0px rgba(30, 30, 30, 0.15);
        }
    }

    .col-2 { grid-column: 2; }

    .order-links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px 24px;
        max-width: 424px;

        .order-unc, .order-amazon {
            color: $creek;
            font-size: 20px;
            font-weight: 700;
            line-height: 115%;
        }

        span {
            color: $dark;
            font-size: 14px;
            line-height: 145%;
        }
    }

    h2 {
        color: $creek;
        font-family: $heading-font-family;
        font-size: 40px;
        font-weight: 400;
        line-height: 115%;
        margin-bottom: 48px;
    }

    p { 
        text-align: center;
        color: $creek;
        line-height: 115%;
    }
}

footer {
    padding-top: 238px;
    
    .wave {
        background-image: url('./assets/footer-wave.svg');
        width: 100%;
        height: 182.6px;
    }

    .container {
        background: $creek;
        padding-bottom: 96px;

        .grid {
            @include inner();
            display: flex;
            justify-content: space-between;
            gap: 20px;
            align-items: flex-start;
        }

        .logo { width: 260px; }

        p {
            width: 660px;
            color: white;
            font-family: $heading-font-family;
            font-size: 24px;
            line-height: 115%;

            span, a {
                color: inherit;
                font-family: $font-family;
                font-size: 16px;
                margin-top: 16px;
                border-bottom-color: white;
            }
        }
    }
}